body{
background-color: rgb(235, 211, 148);
}
h1{
color: black;
font-size: 48px; 
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
 p {
color: rgb(30, 32, 34);
  font-size: 24px; 
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal; 
}   
h3{
color:black;
font-size: 40px; 
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: 100px; 
}
.Favorites_Title{
color: rgb(30, 32, 34);
  font-size: 35px; 
  text-align: Left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  padding:10px 10px;
  padding-right: 10px;
  ul{
 list-style-type:circle; 
   border: 3px double black;
  display: inline-block;


  }

  }


.Hobbies{
  color: rgb(30, 32, 34);
  font-size: 30px; 
  text-align: Left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  ul{
 list-style-type:circle; 
 list-style-image:radial-gradient(orange, rgb(229, 216, 192));
 border: 8px solid rgb(216, 113, 113);
  display: inline-block;
  }  
}

.Foods_Title{
color: rgb(30, 32, 34);
  font-size: 35px; 
  text-align: Left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  ul{
 list-style-type:circle; 
   border: 3px double black;
  border-margin:0px;
   display: inline-block;
  }

  }


  .Foods{
  color: rgb(30, 32, 34);
  font-size: 30px; 
  text-align: Left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  ul{
 list-style-type:circle; 
 list-style-image: linear-gradient(lightyellow,lavender);
 border: 8px solid tomato ;
 display: inline-block;
  }  
}